<%= form_for(@user_home) do |f| %>
  <% if @user_home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_home.errors.count, "error") %> prohibited this user_home from being saved:</h2>

      <ul>
      <% @user_home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :layout %><br />
    <%= f.text_field :layout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
