<h1>Listing user_homes</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Layout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_homes.each do |user_home| %>
  <tr>
    <td><%= user_home.user_name %></td>
    <td><%= user_home.layout %></td>
    <td><%= link_to 'Show', user_home %></td>
    <td><%= link_to 'Edit', edit_user_home_path(user_home) %></td>
    <td><%= link_to 'Destroy', user_home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User home', new_user_home_path %>
