<h1>New user_home</h1>

<%= form_for @user_home, :url => { :action => 'create' }, :builder => LabellingFormBuilder do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_area :biography %>
    <%= f.check_box :admin %>
    <%= f.submit %>
<% end %>

<%= link_to 'Back', :controller => 'user_homes', :action => :show %>
